<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SchoolSys</a>
    <div class="d-flex">
      <a href="/logout" class="btn btn-outline-light">Logout</a>
    </div>
  </div>
</nav>
